/* fontes das logos do qatar */


/* @font-face {
    font-family: 'GraphikArabic';
    src: url('../static/Qatar2022/Qatar2022/GraphikArabicMedium.otf');
}

@font-face {
    font-family: 'ArabicBold';
    src: url('../static/Qatar2022/Qatar2022/Qatar2022Arabic-Bold.ttf');
}

@font-face {
    font-family: 'ArabicHeavy';
    src: url('../static/Qatar2022/Qatar2022/Qatar2022Arabic-Heavy.ttf');
} */

* {
    margin: 0;
    padding: 0;
    font-family: GraphikArabic;
}

html {
    margin: 0;
    padding: 0;
}


/*scroll bar related*/

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border: 3px solid transparent;
}